body {
     font-family: "Archivo Black", sans-serif;
    margin: 0;
}

.header {
background-color: bisque;
padding: 30px;
}

.main-content {
    padding: 30px;
}

.reference {
    color: rgb(93, 93, 216);
}

.footer {
    background-color: bisque;
    color:rgb(203, 130, 35);
    padding: 30px;
}

.footer-link {
    color: rgb(196, 140, 35);
}